<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="clientId" value="ASrw_Jfp83lvvP5tKVa8ypakEA6C5NEYNpfK6BaU1ZI6nW5ZXcdoUB81hQDoOgro_J2O_5ysJxIXCpGH" />
      <add name="clientSecret" value="_EGKOxYS7ZEWHT7cMgKx5KtkrTEM--MZ_Ltkv8u4roOJsxX8uLXxdY_9iF8FqR7vJl1-dY1C9DQLN5Jac" />
    </settings>
  </paypal>
</configuration>